.container__main {
  display: flex;
  align-items: center;
  background-color: #F5F9FF;
  margin-top: 20px;
  margin-left: 20px;
  padding: 42px 42px 42px 20px;
  width: fit-content;
  position: relative;
}

.container__input {
  display: flex;
  position: relative;
}

.input__field, .error {
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0 6px 6px 0;
  -webkit-appearance: none;
  color: #99A3BA;
  border: 1px solid #CDD9ED;
  border-left: none;
  background: white;
  transition: border 0.3s ease;
}

.input__field::-moz-placeholder {
  color: #CBD1DC;
}

.input__field:-ms-input-placeholder {
  color: #CBD1DC;
}

.input__field::placeholder {
  color: #CBD1DC;
}

.input__field:focus {
  outline: none;
  border-color: #275EFE;
}

.error {
  background: #fbf2f0;
  border-color: #ff8989;
}

.error:focus {
  outline: none;
  background: #fbf2f0;
  border-color: #ff8989;
}

.container__title, .title__error {
  border-radius: 6px 0 0 6px;
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #99A3BA;
  background: #EEF4FF;
  border: 1px solid #CDD9ED;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.container__input:focus-within > .container__title {
  color: white;
  background: #678EFE;
  border-color: #275EFE;
}

.title__error {
  background: #ffc4c4;
  border-color: #ff8989;
  color: #da3f3f;
}

.error__message {
  position: absolute;
  top: 111%;
  left: 29%;
  color: #da3f3f;
  font-size: 12px;
}

.user__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  background-color: #275EFE;
  color: #CDD9ED;
  top: 9px;
  right: 9px;
  font-size: 12px;
  font-weight: bolder;
}

